@charset "utf-8";
body {
    margin: 0; 
}
.header {
    width: 100%;
    height: 260px;
    backround-color: #eef3f5;
    text-align center;
}
.header a img {
    width: 659px;
    height 144px;
    margin-top: 12px;
}
  
